.section_hero {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 0.5fr 0.5fr repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	background-image: url(https://assets.codepen.io/313247/hero_background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 25px;
	padding-bottom: 40px;
}

.background-pattern {
	display: none;
}

.human-couple {
	display: none;
}

.hero-copy {
	grid-column: 2/10;
	grid-row: 1/7;
	z-index: 200;
}

.cta_wise {
	background-color: #156a97;
	color: #fff;
	padding: 10px 40px;
}

@media (min-width: 605px) {



}

@media (min-width: 845px) {
    .section_hero {
		background-image: none;
		padding-top: 0;
		padding-bottom: 0;
	}

	.hero-copy {
		grid-row: 3/7;
	}


	.hero-copy {
		grid-column: 6/10;
		grid-row: 1/7;
	}
	.human-couple {
	    display: block;
		grid-column: 2/7;
		grid-row: 1/10;
		z-index: 100;
		width: 90%;
	}

	.background-pattern {
		display: block;
		grid-column: 1/11;
		grid-row: 1/10;
		z-index: 0;
	}

}

@media (min-width: 1390px) {
  .section_hero {
	grid-template-rows: 0.5fr 0.5fr repeat(5, 1fr);
}
	.background-pattern {
		display: block;
		grid-column: 1/11;
		grid-row: 2/10;
		z-index: 0;
	}

	.human-couple {
		grid-column: 2/7;
		grid-row: 2/10;
	}

	.hero-copy {
		grid-row: 3/7;
	}
}


@media (min-width: 1650px) {
  
    .section_hero {
	grid-template-rows: 0.5fr 0.5fr repeat(4, 1fr);
}

	.human-couple {
		grid-row: 1/10;
    width: 100%;
	}
}

@media (min-width: 845px) {
  .hero-copy {
    margin-top: 25px;
  }
}
