button,
.button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all 0.15s linear;
  white-space: normal;
}

button:disabled,
.button:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}

/* No button */

.no-button,
.no-button:hover,
.no-button:focus,
.no-button:active {
  background: none;
  border: none;
  border-radius: 0;
  color: initial;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  transition: none;
}


/**/

.hs-submit .hs-button.primary.large:hover {
  background-color: rgba(119, 58, 106, 1) !important;
}

.cta_button {
  background-image: url(https://f.hubspotusercontent20.net/hubfs/20507678/img/gx/gather-bg_.png), 
  url(https://f.hubspotusercontent20.net/hubfs/20507678/img/gx/gather-bg_.png),
  url(https://f.hubspotusercontent20.net/hubfs/20507678/img/gx/gather-bg_.png),
  url(https://f.hubspotusercontent20.net/hubfs/20507678/img/gx/gather-bg_.png);
  background-position: -1470px center, 205px center, center -320px, center 50px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: contain contain contain contain;
  transition: all .5s cubic-bezier(0.25, 0.1, 0.42, 1.32);
}

.cta_button:hover {
  color: #fff;
  background-position: center center, center center, center center, center center;
}




.btn-learn-more {
  border: 1px solid #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.btn-learn-more:hover {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}