<!--
  templateType: global_partial
  label: Footer
-->
<footer id="colophon" class="pb-6">
  <div class="grid px-2 pt-8 pb-4 mb-3 row1 xl:pb-0 2xl:mb-0 md:px-8 md:grid-cols-2">
    <div class="flex items-center justify-center col1 logo-n-contact md:justify-start">
      <div class="flex flex-col items-center justify-center content-wrap">
        <a href="https://www.wisemedicare.com/" class="block mb-5">
          <img src="https://f.hubspotusercontent20.net/hubfs/20507678/img/gx/logo-white.png" class="w-full h-auto"
            alt="white logo for wise medicare">
        </a>
        <p class="mb-1 text-lg text-center text-white">708 N. Bishop Ave., Suite A,<br class="block md:hidden"> Rolla,
          MO
          65401</p> <a href="tel:1-573-364-5446" class="block mx-auto mb-6 text-xl text-center text-white md:mb-0"><span
            class="text-center text-white" itemprop="telephone" content="+15733645446">573-364-5446</span></a>
      </div> <!-- /.content-wrap -->
    </div> <!-- /.logo-n-contact -->

    <div class="flex items-center justify-center col2 social md:justify-end">
      <div class="flex flex-col items-center items-end justify-between content-wrap xl:flex-row">
        <a href="https://blog.wisemedicare.com/"
          class="flex items-center mb-8 text-4xl text-white xl:mb-0 link-news hvr-grow"><img
            src="https://f.hubspotusercontent20.net/hubfs/20507678/img/gx/icon-newspaper-white@2x.png"
            class="pr-2 gx-icon-news" alt="news icon"><span class="inline-block mt-6">News</span></a>
        <a href="https://www.youtube.com/channel/UCmvmVC7o6tu-2AbJ2AabOcg" class="block mb-8 xl:mb-0 hvr-grow"
          target="_blank"><img src="https://f.hubspotusercontent20.net/hubfs/20507678/img/gx/logo-youtube.png"
            alt="watch our videos on youtube" class="gx-social"></a>
        <a href="https://www.facebook.com/Wise-Medicare-187047466735527" class="block hvr-grow" target="_blank"><img
            src="https://f.hubspotusercontent20.net/hubfs/20507678/img/gx/logo-facebook.png" alt="find us on facebook"
            class="gx-social"></a>
      </div><!-- /.content-wrap -->
    </div> <!-- /.col2 -->
  </div> <!-- /.row1 -->

  <div class="flex items-end justify-center row2">
    <div class="flex items-center justify-center content-wrap">
      <p class="text-xs text-lg text-center text-white">&copy; {{ year }} Wise Medicare</p>
    </div><!-- /.content-wrap -->
  </div> <!-- /.row2 -->
</footer>