<!--
  templateType: global_partial
  label: Footer
-->
<footer class="grid px-2 pt-8 pb-4 footer md:px-8 md:grid-cols-2">
  <div class="flex items-center justify-center logo-n-contact md:justify-start">
    <div class="flex flex-col items-center justify-center content-wrap">
      <a href="#" class="block mb-5">
        <img src="https://f.hubspotusercontent20.net/hubfs/20507678/img/gx/logo-white.png"
          class="w-full h-auto" alt="white logo for wise medicare">
      </a>
      <p class="mb-1 text-lg text-center text-white">708A N. Bishop Ave.,<br class="block md-hidden" Rolla, MO 65401</p>
      <a href="tel:1-800-861-4498" class="block mx-auto mb-6 text-xl text-center text-white md:mb-0"><span class="text-center text-white" itemprop="telephone" content="+18008614498">1-800-861-4498</span></a>
    </div> <!-- /.content-wrap -->
  </div> <!-- /.logo-n-contact -->

  <div class="flex items-center justify-center social-n-copyright md:justify-end">
    <div class="flex flex-col items-center justify-center content-wrap">
      <a href="#" class="block mb-6" target="_blank"><img
          src="https://f.hubspotusercontent20.net/hubfs/20507678/img/gx/logo-youtube.png"
          alt="watch our videos on youtube"></a>
      <a href="#" class="block mb-6" target="_blank"><img
          src="https://f.hubspotusercontent20.net/hubfs/20507678/img/gx/logo-facebook.png"
          alt="find us on facebook"></a>
      <p class="text-xs text-white">&copy; {{ year }} Wise Medicare</p>
    </div><!-- /.content-wrapper -->
  </div> <!-- /.social-n-copyright -->
</footer>