<!--
  templateType: global_partial
  label: Header no navigation
-->
<header class="pt-6 header">

  {# The link below is used for a navigation skipper which allows users navigating the site with their keyboard to skip over the site navigation. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}



  <a href="#main-content" class="header__skip">Skip to content</a>
  <section class="grid px-2 md:px-8 md:grid-cols-2 row-logo">
    <div class="header__logo header__logo--main">
      {% module 'site_logo' path='@hubspot/logo' %}
    </div> <!-- /.header__logo -->


    <div class="image-text-wrap flex items-center justify-center md:justify-end">
      <img src="https://f.hubspotusercontent20.net/hubfs/20507678/img/jeremy-tyler.png" alt="Jeremy Tyler"
        class="img-profile img-fluid justify-self-end">
      <div class="flex flex-col items-center justify-center md:items-end header_contact ml-2">
        <div class="flex flex-col items-center justify-center md:w-full tag_n_phone ">
          <p class="mb-1 text-sm leading-tight text-center lg:text-lg">Make a <span
              class="font-black uppercase text-fandango">wise</span> choice for your <br>Medicare Insurance.<br>
            <span class="font-bold">Contact our friendly team <span class="uppercase">today!</span></span></p>
          <a class="block text-sm font-extrabold text-center lg:text-2xl text-matisse header-phone hvr-grow"
            href="tel:573-364-5446"><span itemprop="telephone" content="+15733645446">573-364-5446</span></a>
        </div>
      </div>
    </div>
  </section>


</header>