<!--
  templateType: global_partial
  label: Website header
-->
<header class="pt-6 header">

  {# The link below is used for a navigation skipper which allows users navigating the site with their keyboard to skip over the site navigation. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}



  <a href="#main-content" class="header__skip">Skip to content</a>
  <section class="grid px-2 pb-4 md:px-8 md:grid-cols-2 row-logo">
    <div class="header__logo header__logo--main">
      {% module 'site_logo' path='@hubspot/logo' %}
    </div> <!-- /.header__logo -->

    <div class="flex flex-col items-center justify-center md:items-end header_contact">
      <div class="flex flex-col items-center justify-center md:w-3/4 tag_n_phone ">
        <p class="mb-1 text-sm leading-tight text-center lg:text-lg">Make a <span
            class="font-black uppercase text-fandango">wise</span> choice for your <br>Medicare Insurance.<br>
          <span class="font-bold">Contact our friendly team <span class="uppercase">today!</span></span></p>
        <a class="block text-sm font-extrabold text-center lg:text-2xl text-matisse header-phone hvr-grow"
          href="tel:573-364-5446"><span itemprop="telephone" content="+15733645446">573-364-5446</span></a>
        <div class="cta_wrap mx-auto flex justify-center mt-6">
          <!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper"
            id="hs-cta-wrapper-63520b1c-23c5-4d8c-80da-baf85c56b41a"><span
              class="hs-cta-node hs-cta-63520b1c-23c5-4d8c-80da-baf85c56b41a"
              id="hs-cta-63520b1c-23c5-4d8c-80da-baf85c56b41a">
              <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a
                href="https://cta-redirect.hubspot.com/cta/redirect/20507678/63520b1c-23c5-4d8c-80da-baf85c56b41a"
                target="_blank"><img class="hs-cta-img" id="hs-cta-img-63520b1c-23c5-4d8c-80da-baf85c56b41a"
                  style="border-width:0px;"
                  src="https://no-cache.hubspot.com/cta/default/20507678/63520b1c-23c5-4d8c-80da-baf85c56b41a.png"
                  alt="Contact Us Today!" /></a></span>
            <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
            <script type="text/javascript">
              hbspt.cta.load(20507678, '63520b1c-23c5-4d8c-80da-baf85c56b41a', {
                "region": "na1"
              });
            </script>
          </span><!-- end HubSpot Call-to-Action Code -->
        </div> <!-- /.cta_wrap -->
      </div>

    </div>
  </section>

  <section class="flex items-center justify-start px-2 bg-fandango md:justify-end md:px-8 nav-main">
    {% if content.translated_content.values()|selectattr('published')|length || is_listing_view && group.translations %}
    <div class="header__language-switcher header--element">
      <div class="header__language-switcher--label">
        {% module 'language-switcher'
              path='@hubspot/language_switcher',
              label='Language switcher',
              display_mode='localized'
            %}
        <div class="header__language-switcher--label-current"> {{ locale_name(locale) }}</div>
      </div>
    </div>
    {% endif %}

    <div class="header--toggle header__navigation--toggle"></div>
    {% if content.translated_content|length || is_listing_view && group.translations %}
    <div class="header--toggle header__language-switcher--toggle"></div>
    {% endif %}
    <div class="header__close--toggle"></div>
    <div class="header__navigation header--element">
      {% module 'navigation-primary'
          path='../../modules/menu',
          label='Primary navigation'
        %}
    </div>
  </section>
</header>