/* remove padding from hs elements surrounding hero module*/
#main-content > div > div > div > div > div.row-fluid-wrapper.row-depth-1.row-number-1.dnd_area-row-0-margin.dnd_area-row-0-force-full-width-section.dnd-section.dnd_area-row-0-padding > div > div {
  padding: 0;
}

/* pull hero up to overlap main nav */

@media (min-width: 1390px) {
  main#main-content {
       margin-top: -77px;
   }
}

@media (min-width: 1400px) {
  main#main-content {
       margin-top: -89px;
   }
}

@media (min-width: 1470px) {
  main#main-content {
       margin-top: -93px;
   }
}


@media (min-width: 1695px) {
  main#main-content {
       margin-top: -106px;
   }
}


/* FORM WIDTH */
@media (min-width: 768px) {
  .row-fluid-wrapper.row-depth-1.row-number-12.dnd-row {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
  }
}


.hs-button.primary.large {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 0;
  min-width: 300px;
}



@media (min-width: 481px) {
  fieldset.form-columns-3 {
      display: flex;
      justify-content: space-between;
  }
}





/* NAV FIX */

.menu--desktop {
  position: relative;
  z-index: 10000;
}
